.anime-card-container{
    width:100%;
    
    .anime-img-container{
        height:0px;
        width:95%;
        padding-bottom:50%;
        background-color: #555;
        border-radius: 5px;
        transition:0.3s;
        margin:auto;
    }

    .anime-display-container{
        position:absolute;
        height:0;
        width:20%;
        background-color: #888;
        border-radius: 5px;
        height:0px;
        padding-bottom:18%;
        margin-top:-15%;
        z-index:1000;
    }
  

    .hidden{
        display: none;
      }
}