.loader-bg{
    height:100vh;
    width:100%;
    background-color: #fff;
    position:absolute;
    z-index:100000000;
    
    img{
        display:block;
        margin:auto;
        width:200px;
        margin-top:20%;
    }
}
