.search-box-container{
    padding-top:150px;

        .search-input{
            display:block;
            margin:auto;
            width:80%;
            height:50px;
            border:none;
            outline: none;
            background-color: #333;
            border-bottom: 2px solid #ffea00;
            color:#fff;
            font-size: 25px;
            padding:10px 20px;

            &::placeholder{
                color: white;
            }
        }
    
}