.preview-container{
    width:100%;
    position:relative;
    padding-bottom:25px;

    h2{
        margin-left: 3%;
        padding-bottom:10px;
        font-size: 20px;
    }

    .wrapper{

        section{
            display:flex;
            justify-content: space-between;
            overflow:hidden;
            scroll-behavior: smooth;

            a{
                padding:0 5px;

                i{
                    color:white;
                    margin-top:300%;
                }
            }
        }

    }
}