.signup{
    display:flex;

    .loader-bg{
        height:100vh;
        width:100%;
        background-color: #fff;
        position:absolute;
        
        img{
            display:block;
            margin:auto;
            width:200px;
            margin-top:20%;
        }
    }

    .img-container{
        height:100vh;
        width:50%;
        background-image: url('../../assets/sao.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        .darken{
            background-color: rgba(0,0,0,0.2);
            height:100vh;
            width:100%
        }
    }

    .no-acc{
        margin-top:50px;
        font-size: 14px;
    }

    .form-container{
        padding-top:50px;
        width:50%;
        margin:auto;

        .inner{
            width:80%;
            margin:auto;

            .err-message{
                color:#ffea00;
                font-size: 12px;
            }

            h1{
                font-size: 45px;
                padding-bottom: 10px;
            }

            p{
                padding-bottom: 30px;
            }

            .button{
                margin-top: 50px;
            }

            .form{
                .form-body{
                    padding-bottom: 30px;
        
                    label{
                        display:block;
                        font-size: 14px;
                        padding-bottom:5px;
                    }

                    input{
                        width:100%;
                        height:30px;
                        padding-left:10px;
                    }
                }
            }
        }
    }
}

@media(max-width:720px){
    .signup{
        display:block;

        .img-container{
            display:none;
        }

        .form-container{
            width:100%;
            padding-top:100px;
        }
    }
}