.single-episode-container{
    color:#fff;

    .episode-hover-container{
        display:flex;
        padding:30px;
        transition: 0.3s;
        cursor:pointer;
        

        .episode-no{
            padding-top:30px;
            font-size:20px;
            font-family: Oswald;
        }
       
    
        .episode-img-container{
            width: 200px;
            height:90px;
            margin-left: 50px;
            overflow:hidden;
            position:relative;
            
            
    
            img{
                height:100%;
                width:100%;
                transition:0.3s;
            }

            .play-button-icon{
                position:absolute;
                left:30%;
                top:17%;
                z-index:5000;
                color:white;
                font-size: 60px;
            }

            
        }
    
        .episode-details{
           padding: 5px 50px;
           box-sizing: border-box;
           width:100%;
    
           .episode-title{
                font-family: Oswald;
                font-size: 25px;

                .episode-link{
                    color:white;
                    text-decoration:none;

                    &:hover{
                        color:#ffea00;
                    }
                }
           }
    
           .episode-desc{
               padding-top:5px;
               font-size: 14px;
               line-height: 1.6;
           }
        }
    
        &:hover{
            background-color: #555;
        }

        &:hover .episode-img-container{

            img{
                transform: scale(1.2);
            }
        }

    }

}