.showcase{
    height:100vh;
    background-image: url("../../assets/landing_showcase.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .darken{
        width:100%;
        height:100vh;
        background: rgba(0,0,0,0.5);

        .showcase-content{
            color:#fff;
            padding-top:33%;
            width:95%;
            margin:auto;

            h1{
                font-family: Roboto Condensed;
                font-size: 75px;
                text-shadow: 5px 5px 10px #333;
            }

            p{
                font-size:20px;
                padding-top:5px;
                padding-bottom:20px;
                text-shadow: 5px 5px 10px #333;
            }
        }
    }
}


.section{
    width:85%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    margin-top:80px;

    .section-content{
        width:60%;
        margin-top:10%;

        h1{font-size: 40px;}

        p{
            margin-top:20px;
            line-height: 1.7;
        }
    }

    .pika{
       width:27%;
    }

    .happy{
        width:32%;
        height:220px;
        margin-top:50px;
    }
}

hr{
    margin-top: 80px;
    height:5px;
    background-color: #333;
    border:none;
}

.footer{
    padding: 20px 0;
    text-align:center;
    font-size: 12px;
    
    p{
        padding-bottom: 8px;
    }
}


@media(max-width:500px){
    .showcase{
        .darken{
            .showcase-content{
                padding-top:50%;
                width:85%;

                h1{
                    font-size:50px;
                    text-align:center;
                }

                p{
                    font-size: 16px;
                    text-align:center;
                    line-height: 1.6;
                }
            }
        }
    }

    .section{
        display:block;

        .section-content{
            width:100%;
            text-align:center;
        }

        .pika{
            width:50%;
            display:block;
            margin:auto;
            margin-top:30px;
        }

        .happy{
            width:70%;   
            height:150px;
            display:block;
            margin:auto; 
        }
    }
}


