.collection-preview-container{
   padding:0 10px;
   margin-bottom: 30px;

   .collection-preview-header{
       font-family: Oswald;
       font-weight: 400;
       color:#fff;
       text-shadow: 3px 3px 5px #000;
       margin-bottom: 10px;
   }
}