*{
  margin: 0;
  padding:0;
}

body {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Primary main theme text*/
.text-primary{
  color:#ffea00;
}

.primary-link{
  color:#ffea00;
  text-decoration: none;
}

